body { 
    font-family:"Metropolis-Regular", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size:16px; line-height:1; font-weight:400; letter-spacing:-0.6px; color:rgb(85, 85, 85);
    position:relative;  height:100%; 
    -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%;  -webkit-overflow-scrolling: touch; -webkit-font-smoothing: antialiased;
 }


/* Text CSS */
h2 { 
    font-family: "Metropolis-Bold", "Noto Sans KR" ; 
    font-size: 22px; line-height: 70px; font-weight: 700; 
    text-align: center; color: rgb(34, 34, 34); 
}
h3 {
    font-family: "Metropolis-ExtraBold", "Noto Sans KR" ; 
    font-size: 60px; line-height: 70px; font-weight: 900; letter-spacing: -0.8px; 
    text-align: center; color: rgb(255, 255, 255); 
}
h4 { 
    font-family: "Metropolis-ExtraBold", "Noto Sans KR" ; 
    font-size: 60px; line-height: 70px; font-weight: 900; letter-spacing: -0.8px; 
    text-align: center; color: rgb(34, 34, 34); 
}
h5 { 
    font-family: "Metropolis-Light" , "Noto Sans KR"; 
    font-size: 20px; font-weight: 900; letter-spacing: -0.6px; 
    color: rgb(34, 34, 34);
}
h6 { 
    font-size: 60px; line-height: 72px; font-weight: 100; letter-spacing: -2px; 
    color: rgb(51, 51, 51);
    overflow-wrap: normal;
}
p { 
    font-size: 18px; line-height: 30px; font-weight: 300; letter-spacing: -0.6px; 
}


/* Font */

/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Metropolis 폰트 */
@font-face { font-family: 'Metropolis-Light'; src: url(../font/Metropolis-Light.woff) format('woff2'); font-weight: 300; }
@font-face { font-family: 'Metropolis-Regular'; src: url(../font/Metropolis-Regular.woff) format('woff2'); font-weight: 400; }
@font-face { font-family: 'Metropolis-Medium'; src: url(../font/Metropolis-Medium.woff) format('woff2'); font-weight: 500; }
@font-face { font-family: 'Metropolis-SemiBold'; src: url(../font/Metropolis-SemiBold.woff) format('woff2'); font-weight: 600; }
@font-face { font-family: 'Metropolis-Bold'; src: url(../font/Metropolis-Bold.woff) format('woff2'); font-weight: 700; }
@font-face { font-family: 'Metropolis-ExtraBold'; src: url(../font/Metropolis-ExtraBold.woff) format('woff2'); font-weight: 900; }




/* Animation */
@keyframes r_to_l {
    0% { right: -100% }
    100% { right: 0%; }
}

@keyframes l_to_r {
    0% { right: 0% }
    100% { right: -100%; }
}

@keyframes rise_up {
    0% { top: 80px; opacity: 0; }
    100% { top: 0px; opacity: 1; }
}

@keyframes rise_up_bottom {
    0% { margin-bottom: -80px; opacity: 0; }
    100% { margin-bottom: 0px; opacity: 1; }
}
